<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../assets/css/style2.css" />
    <link rel="stylesheet" href="../assets/css/nav.css" />
    <link rel="stylesheet" href="../assets/css/about.css" />
    <link rel="stylesheet" href="../assets/css/contact.css" />
    <script data-require="jquery@3.1.1" data-semver="3.1.1"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- FONT LINK -->
    <link
        href="https://fonts.googleapis.com/css?family=Contrail+One|Damion|Galada|Kelly+Slab|Lobster|Lobster+Two|Odibee+Sans&display=swap"
        rel="stylesheet">
    <!--LOCAL STYLESHEETS-->

    <title>Nishiki Co. Ltd</title>
</head>

<body>
    <header id="fnav">
        <nav class="navbar navbar-light bg-light justify-content-between  container" id="fnav">
            <!-- <a class="navbar-brand">Navbar</a>
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
              <div id="card-logo">
                <i class="fas fa-cart-plus"></i>
              </div>
              
            </form> -->
            <div id="top_nav">
                <a href="">Save More On App</a>
                <a href="">Sell On Nishiki</a>
                <a href="">Customer Card</a>
                <a href="">Track My Order</a>
                <a href="./login.html">Login</a>
                <a href="./registration.html">Signup</a>
                <a href="./product.html">Product</a>
                <a href="./profile.html">Profile</a>
            </div>
    
        </nav>
    </header>
    
    <header id="snav">
        <nav class="navbar navbar-light bg-light justify-content-between container">
            <a class="navbar-brand" href="./home.html"><img src="./../assets/img/logo.gif" height="auto" width="50%" alt=""></a>
            <form class="form-inline">
                <input class="nav-search-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button href="#" class="button search-btn">Search</button>
                <div id="card-logo">
                    <i class="fas fa-cart-plus fa-2x"></i>
                </div>
    
            </form>
        </nav>
    
    </header>
    <header id="tnav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light container" id="tnav">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-truck"></i> Fastest Delivery <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-dollar-sign"></i> Free Discount</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-globe-americas"></i> Global Collection</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-cart-plus"></i> NishikiMall</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fab fa-app-store-ios"></i> Recharge & eStore</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-4">
                        <img src="../assets/img/img26.gif" class="photomy" alt="">
                    </div>
                    <div class="col-md-2 col-2">

                    </div>
                    <div class="col-md-6 col-12">
                        <div class="container mt-5">
                            <h5 class="phototit">Digital Therapy Machine - 4 pad [ lighting ]</h5>
                        </div>
                        <div class="container">

                            <fieldset class="rate">
                                <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10"
                                    title="5 stars"></label>
                                <input type="radio" id="rating9" name="rating" value="9" /><label class="half"
                                    for="rating9" title="4 1/2 stars"></label>
                                <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8"
                                    title="4 stars"></label>
                                <input type="radio" id="rating7" name="rating" value="7" /><label class="half"
                                    for="rating7" title="3 1/2 stars"></label>
                                <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6"
                                    title="3 stars"></label>
                                <input type="radio" id="rating5" name="rating" value="5" /><label class="half"
                                    for="rating5" title="2 1/2 stars"></label>
                                <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4"
                                    title="2 stars"></label>
                                <input type="radio" id="rating3" name="rating" value="3" /><label class="half"
                                    for="rating3" title="1 1/2 stars"></label>
                                <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2"
                                    title="1 star"></label>
                                <input type="radio" id="rating1" name="rating" value="1" /><label class="half"
                                    for="rating1" title="1/2 star"></label>
                                <input type="radio" id="rating0" name="rating" value="0" /><label for="rating0"
                                    title="No star"></label>
                            </fieldset>
                        </div>
                        <div class="container mt-5">
                            <h4 class="price">$320</h4>
                            <h5 class="discountper"><strike class="discountpri">$666</strike> -44%</h5>
                        </div>
                        <div class="container">
                            <div class="quantity buttons_added">
                                <input type="button" value="-" class="minus"><input type="number" step="1" min="1"
                                    max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4"
                                    pattern="" inputmode=""><input type="button" value="+" class="plus">
                            </div>
                        </div>
                        <div class="container mt-5">
                            <button type="button" class="btn-buy mr-3">Buy Now</button>
                            <button type="button" class="btn-cart">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-5" id="iteamsection">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div>
                            <h5 class="display-5"><b>Product details</b></h5>
                            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe dolorem fugiat animi.
                            </h5>

                        </div>
                        <div>
                            <h5 class="display-5"><b>Specifications</b></h5>
                            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe dolorem fugiat animi.
                            </h5>

                        </div>
                    </div>
                    <div class="col-md-6 paddi">
                        <div class="jumbotron">

                            <h5><b>Delivery Options</b></h5>
                            <div class="row pt-2">
                                <div class="col-md-5 col-5">
                                    <h5 class="lead"><i class="fas fa-map-marker-alt"></i> Dhaka, Dhaka North, Banani
                                        Road
                                        No. 12 - 19</h5>
                                </div>
                                <div class="col-md-1 col-1">
                                    <a type="button" class="btn-change">change</a>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-5 col-5">
                                    <h5 class="lead"><i class="fas fa-truck"></i> Home Delivery</h5>
                                    <h5 class="pl-4" style="font-size: small;">2 - 5 days</h5>
                                </div>
                                <div class="col-md-1 col-1">
                                    <h5 class="lead">৳30</h5>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-6 col-6">
                                    <h5 class="lead"><i class="fas fa-money-bill"></i> Cash on Delivery Available</h5>
                                </div>

                            </div>
                            <h5 class="pt-2"><b>Return & Warranty</b></h5>
                            <div class="row pt-2">
                                <div class="col-md-6 col-6">
                                    <h5 class="lead"><i class="fas fa-exchange-alt"></i> 7 Day Return</h5>
                                    <h5 class="pl-4" style="font-size: small;">Change of mind available</h5>

                                </div>

                            </div>
                            <div class="row pt-2">
                                <div class="col-md-6 col-6">
                                    <h5 class="lead"><i class="fas fa-plus-square"></i> Warranty not available</h5>

                                </div>

                            </div>

                        </div>
                    </div>
        </section>
        <section>
            <div class="container">
                    <h2 class="pdp-mod-section-title outer-title">Ratings &amp; Reviews of </h2>
                    <div class="row">
                        <div class="col-md-6">
                    <div class="mod-rating">
                        <div class="content">
                            <div class="left">
                                <div class="summary">
                                    <div class="score"><span class="score-average display-3">5.0</span><span
                                            class="score-max display-4">/5</span>
                                    </div>
                                    <div class="average">
                                        <div class="container-star " style="width: 166.25px; height: 33.25px;"><img
                                                class="star"
                                                src="//laz-img-cdn.alicdn.com/tfs/TB19ZvEgfDH8KJjy1XcXXcpdXXa-64-64.png"
                                                style="width: 33.25px; height: 33.25px;"><img class="star"
                                                src="//laz-img-cdn.alicdn.com/tfs/TB19ZvEgfDH8KJjy1XcXXcpdXXa-64-64.png"
                                                style="width: 33.25px; height: 33.25px;"><img class="star"
                                                src="//laz-img-cdn.alicdn.com/tfs/TB19ZvEgfDH8KJjy1XcXXcpdXXa-64-64.png"
                                                style="width: 33.25px; height: 33.25px;"><img class="star"
                                                src="//laz-img-cdn.alicdn.com/tfs/TB19ZvEgfDH8KJjy1XcXXcpdXXa-64-64.png"
                                                style="width: 33.25px; height: 33.25px;"><img class="star"
                                                src="//laz-img-cdn.alicdn.com/tfs/TB19ZvEgfDH8KJjy1XcXXcpdXXa-64-64.png"
                                                style="width: 33.25px; height: 33.25px;"></div>
                                    </div>
                                    <div class="count">1 Ratings</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </main>
    <!--MAIN SECTION ENDS HERE-->

    <!-- SECTION STARTS HERE-->
    <hr>

    <footer class="newpad bg-custom-3 bg-dark text-light">
        <div class="row">
            <div class="col-12 col-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img"
                    viewBox="0 0 24 24" focusable="false">
                    <title>Product</title>
                    <circle cx="12" cy="12" r="10" />
                    <path
                        d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
                </svg>
                <small class="d-block mb-3 ">&copy; 2017-2019</small>

                <div>
                    <a href class="btn btn-dark btn-sm"="#"><i class="fa fa-facebook"></i></a>
                    <a href class="btn btn-dark btn-sm"="#"><i class="fa fa-linkedin"></i></a>
                    <a href class="btn btn-dark btn-sm"="#"><i class="fa fa-instagram"></i></a>
                    <a href class="btn btn-dark btn-sm"="#"><i class="fa fa-pinterest"></i></a>

                </div>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Business</a></li>
                    <li><a class="text-muted" href="#">Education</a></li>
                    <li><a class="text-muted" href="#">Government</a></li>
                    <li><a class="text-muted" href="#">Gaming</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>


    </footer>

    <!--FOOTER SECTION ENDS HERE-->
    <script src="../assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/script.js"></script>
    <!-- ICON LINK -->
    <script src="https://kit.fontawesome.com/ef03c7fd35.js" crossorigin="anonymous"></script>

</body>

</html>
<!--MAIN SECTION ENDS HERE-->