<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nishiki Co Ltd || Online Shopping</title>
    <link rel="stylesheet" href="./../assets/css/bootstrap.css">
    <link rel="stylesheet" href="./../assets/css/nav.css">
    <link rel="stylesheet" href="./../assets/css/login.css">
    <link rel="stylesheet" href="./../assets/css/registration.css">
</head>

<body>
    <header id="fnav">
        <nav class="navbar navbar-light bg-light justify-content-between  container" id="fnav">
            <!-- <a class="navbar-brand">Navbar</a>
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
              <div id="card-logo">
                <i class="fas fa-cart-plus"></i>
              </div>
              
            </form> -->
            <div id="top_nav">
                <a href="">Save More On App</a>
                <a href="">Sell On Nishiki</a>
                <a href="">Customer Card</a>
                <a href="">Track My Order</a>
                <a href="./login.html">Login</a>
                <a href="./registration.html">Signup</a>
            </div>

        </nav>
    </header>
    <header id="snav">
        <nav class="navbar navbar-light bg-light justify-content-between container">
            <a class="navbar-brand"><img src="./../assets/img/logo.gif" height="auto" width="50%" alt=""></a>
            <form class="form-inline">
                <input class="nav-search-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button href="#" class="button search-btn">Search</button>
                <div id="card-logo">
                    <i class="fas fa-cart-plus fa-2x"></i>
                </div>

            </form>
        </nav>

    </header>
    <header id="tnav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light container" id="tnav">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-truck"></i> Fastest Delivery <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-dollar-sign"></i> Free Discount</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-globe-americas"></i> Global Collection</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-cart-plus"></i> NishikiMall</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fab fa-app-store-ios"></i> Recharge & eStore</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section id="first">

            <div class="container" id="first-maintext">
                <label>Welcome to Nishiki Co Ltd! Please Login.</label><br>
            </div>
            <div class="container" id="first-reglink">
                <label>New Member? <a href="./registration.html">Registration</a> here</label>
            </div>
            <div class="container" id="first-main">
                <div class="section-body">
                    <div class="row" id="first-main-col">
                        <div class="col-md-6">
                            <div id="email">
                                <p>Phone Number or Email*</p>
                                <input type="text" class="login-control" id="inputName"
                                    placeholder="Phone Number or Email ">
                            </div>
                            <div id="pass">
                                <p>Password*</p>
                                <input type="password" class="login-control" id="inputName"
                                    placeholder="Enter Your Password">
                            </div>
                            <div id="fpass">
                                <a href="">Forget password?</a>
                            </div>
                        </div>
                        <div class="col-md-6" id="second-main-col">
                            <div id="login">
                                <button href="#" class="button button1">LOGIN</button>
                            </div>
                            <label id="or">Or, login with</label>
                            <div id="facebook">
                                <button href="#" class="button button2">Facebook</button>
                            </div>
                            <div id="google">
                                <button href="#" class="button button3">Google</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- <footer>
        <div id="f-first">
            <div class="section-body container" id="f-main">
                <div class="row" id="empty">
                    <div class="col-md-2" id="firse-footer-col">
                        <h5>Customer Care</h5>
                        <div id="text-first">
                            <a href="">Help center</a><br>
                            <a href="">How to Buy</a><br>
                            <a href="">Track Your Order</a><br>
                            <a href="">Returns & Refunds</a><br>
                            <a href="">Contuct Us</a>
                        </div>
                        <div id="text-second">
                            <h5>Earn With Daraz</h5>
                            <a href="">Daraz University</a><br>
                            <a href="">Sell on Daraz</a><br>
                            <a href="">Code of Conduct</a>
                        </div>
                    </div>
                    <div class="col-1" id="empty">
                    </div>
                    <div class="col-md-4" id="second-footer-col">
                        <div id="text-third">
                            <h5>Customer Care</h5>
                            <a href="">About Daraz</a><br>
                            <a href="">Digital Payment</a><br>
                            <a href="">Careers</a><br>
                            <a href="">Daraz Blog</a><br>
                            <a href="">Amar Daraz</a><br>
                            <a href="">Terms & Conditions</a><br>
                            <a href="">Privacy Policy</a>
                        </div>
                    </div>
                    <div class="col-md-5" id="third-footer-col">
                    </div>
                </div>
            </div>
        </div>

    </footer> -->
    <script src="./../assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="./../assets/js/popper.min.js"></script>
    <script src="./../assets/js/bootstrap.min.js"></script>
    <!-- ICON LINK -->
    <script src="https://kit.fontawesome.com/ef03c7fd35.js" crossorigin="anonymous">
    </script>
</body>

</html>