<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="./../assets/css/bootstrap.css">
    <link rel="stylesheet" href="./../assets/css/nav.css">
    <link rel="stylesheet" href="./../assets/css/myaccount.css">
    <link rel="stylesheet" href="./../assets/css/payment.css">
</head>
<body>
    <header id="fnav">
        <nav class="navbar navbar-light bg-light justify-content-between  container" id="fnav">
            <!-- <a class="navbar-brand">Navbar</a>
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
              <div id="card-logo">
                <i class="fas fa-cart-plus"></i>
              </div>
              
            </form> -->
            <div id="top_nav">
                <a href="">Save More On App</a>
                <a href="">Sell On Nishiki</a>
                <a href="">Customer Card</a>
                <a href="">Track My Order</a>
                <a href="./login.html">Login</a>
                <a href="./registration.html">Signup</a>
                <a href="./product.html">Product</a>
                <a href="./profile.html">Profile</a>
            </div>

        </nav>
    </header>

    <header id="snav">
        <nav class="navbar navbar-light bg-light justify-content-between container">
            <a class="navbar-brand" href="./home.html"><img src="./../assets/img/logo.gif" height="auto" width="50%" alt=""></a>
            <form class="form-inline">
                <input class="nav-search-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button href="#" class="button search-btn">Search</button>
                <div id="card-logo">
                    <i class="fas fa-cart-plus fa-2x"></i>
                </div>

            </form>
        </nav>

    </header>
    <header id="tnav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light container" id="tnav">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-truck"></i> Fastest Delivery <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-dollar-sign"></i> Free Discount</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-globe-americas"></i> Global Collection</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-cart-plus"></i> NishikiMall</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fab fa-app-store-ios"></i> Recharge & eStore</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section id="my-account">
            <div class="section-body container" id="main-contant">
                <div class="row">
                    <div class="col-md-3" id="section-first-first-col">
                        <p>Hello, Tanvir Ahamed</p>
                        <a href="./myaccount.html" style="color:rgb(26,167,205) ;">Manage My Account</a>
                        <div id="mng-my-acc" class="section-first-first-col-sidebar">
                            <a href="./profile.html"><p>My Profile</p></a>
                            <a href="./address.html"><p>Address Book</p></a>
                            <a href="./payment.html"><p>My Payment Option</p></a>
                            <a href="./vouchers.html"><p>Vouchers</p></a>
                        </div>
                        <a href="./myorder.html" style="color: black; margin-top: 10px;">My Order</a>
                        <div id="my-ord" class="section-first-first-col-sidebar">
                            <a href="./myreturns.html"><p>My Returns</p></a>
                            <a href="./myacan.html"><p>My Cancellations</p></a>
                        </div>
                        <a href="./myreviews.html" style="color: black;">My Reviews</a>
                        <div style="padding-top: 20px;">
                            <a href="./mywish.html" style="color: black;">My Wishlist & <br> Followed Stores</a>
                        </div>
                        <div style="padding-top: 20px;">
                            <a href="" style="color: black;">Sell On Nishiki</a>
                        </div>
                    </div>
                    <div class="col-md-9 container" id="payment-second">
                        <h5>Payment Options</h5>
                        <div id="payment-second-main-content">
                            <h4>No Payment Options</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- ICON LINK -->
    <script src="https://kit.fontawesome.com/ef03c7fd35.js" crossorigin="anonymous"></script>
</body>