<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nishiki Co Ltd || Online Shopping</title>
    <link rel="stylesheet" href="./../assets/css/bootstrap.css">
    <link rel="stylesheet" href="./../assets/css/nav.css">
    <!-- <link rel="stylesheet" href="./../assets/css/login.css"> -->
    <link rel="stylesheet" href="./../assets/css/registration.css">
</head>

<body>
    <header>
        <header id="fnav">
            <nav class="navbar navbar-light bg-light justify-content-between  container" id="fnav">
                <!-- <a class="navbar-brand">Navbar</a>
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
                  <div id="card-logo">
                    <i class="fas fa-cart-plus"></i>
                  </div>
                  
                </form> -->
                <div id="top_nav">
                    <a href="">Save More On App</a>
                    <a href="">Sell On Nishiki</a>
                    <a href="">Customer Card</a>
                    <a href="">Track My Order</a>
                    <a href="./login.html">Login</a>
                    <a href="./registration.html">Signup</a>
                </div>
    
            </nav>
        </header>
        <header id="snav">
            <nav class="navbar navbar-light bg-light justify-content-between container">
                <a class="navbar-brand"><img src="./../assets/img/logo.gif" height="auto" width="50%" alt=""></a>
                <form class="form-inline">
                    <input class="nav-search-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button href="#" class="button search-btn">Search</button>
                    <div id="card-logo">
                        <i class="fas fa-cart-plus fa-2x"></i>
                    </div>
    
                </form>
            </nav>
    
        </header>
        <header id="tnav">
            <nav class="navbar navbar-expand-lg navbar-light bg-light container" id="tnav">
                <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Categories
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-truck"></i> Fastest Delivery <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-dollar-sign"></i> Free Discount</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-globe-americas"></i> Global Collection</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-cart-plus"></i> NishikiMall</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-app-store-ios"></i> Recharge & eStore</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>    
    </header>

    <main>
        <section id="reg-first">
            <div class="container" id="reg-first-maintext">
                <label>Welcome to Nishiki Co Ltd! Please Registration.</label><br>
            </div>
            <div class="container" id="reg-first-loglink">
                <label>Already Member? <a href="./login.html">Login</a> here</label>
            </div>
            <form action="">
                <div class="container" id="reg-first-regform">
                    <div class="section-body">
                        <div class="row" id="reg-first-col">
                            <div class="col-md-6">
                                <div id="name">
                                    <p>Full Name*</p>
                                    <input type="text" class="reg-control-left" id="exampleInputName" placeholder="Enter Your Full Name">
                                </div>
                                <div id="email">
                                    <p>Email Address*</p>
                                    <input type="text" class="reg-control-left" id="exampleInputEmail" placeholder="Enter Your Email Address">
                                </div>
                                
                                <div id="password">
                                    <p>Password*</p>
                                    <input type="password" class="reg-control-left" id="exampleInputPassword" placeholder="Enter Your Password">
                                </div>
                                <div id="birthday">
                                    <p>Birthday*</p>
                                    <div class="btn-group">
                                        <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Month
                                        </button>
                                        <div class="dropdown-menu">
                                          <a class="dropdown-item" href="#">Month</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Separated link</a>
                                        </div>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Day
                                        </button>
                                        <div class="dropdown-menu">
                                          <a class="dropdown-item" href="#">Day</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Separated link</a>
                                        </div>
                                    </div> 
                                    <div class="btn-group">
                                        <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Year
                                        </button>
                                        <div class="dropdown-menu">
                                          <a class="dropdown-item" href="#">Day</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Separated link</a>
                                        </div>
                                    </div>
                                </div>
                                <div id="gender">
                                    <p>Gender*</p>
                                    <div class="btn-group">
                                        <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Select
                                        </button>
                                        <div class="dropdown-menu">
                                          <a class="dropdown-item" href="#">Month</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Separated link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="phone">
                                    <p>Phone Number*</p>
                                    <input type="text" class="reg-control-right" id="exampleInputPhone" placeholder="Enter Your Number">
                                </div>
                                <div id="verification">
                                    <p>Verification Code*</p>
                                    <input type="text" class="reg-control-right" id="exampleInputVerification" placeholder="SMS Verification Code">
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                  </div>
                                  
                                  <div id="login">
                                    <button href="#" class="button signup">LOGIN</button>
                                </div>
                                <label id="other-text">By clicking "SIGN UP" I agree to <a href="">Nishiki Privacy Polocy</a></label><br>
                                <label id="other-text">Or, SIGN UP with</label>
                                <div id="sign-group-btn">
                                    <button href="#" class="button facebook">Facebook</button>
                                    <button href="#" class="button google">Google</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </main>
    <footer>

    </footer>
    <script src="./../assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="./../assets/js/popper.min.js"></script>
    <script src="./../assets/js/bootstrap.min.js"></script>
    <!-- ICON LINK -->
    <script src="https://kit.fontawesome.com/ef03c7fd35.js" crossorigin="anonymous">
    </script>

</body>

