#admin
{
    margin-top: 50px;
    
}
#admin-first
{
    background-color: rgb(45,104,234);
    font-size: 25px;
    line-height: 100px;
}
#but-sec
{
    line-height: 100px;
    padding-top: 90px;
}
#admin-third
{
    padding-top: 30px;
}
#drob-box
{
    text-align: right ;
    padding: 10px 30px;
}
.sub-con
{
    padding-top: 30px;
    font-size: 14px;
}
.edit-btn
{
    border-radius: 10%;
    background-color:rgb(45,104,234) ;
    border: none;
    padding: 3px 15px;
}
.bcol
{
    background-color: rgb(246,248,250);
}
